<%- include("header", {}) %>
<h1 style = "text-align: center; margin-top: 20px"><%= title %></h1>
<p style = "text-align: center; margin-top: 20px">Welcome to <%= title %></p>
<%- include("footer", {}) %>
