<%- include("header", {}) %>

<h1 style = "text-align: center; margin-top: 20px">Log in</h1>

<div class = "form-container">
    <form method="post" action="/login">
    <label>Username: </label> 
    <input type="text" name="user"><br>

    <label>Password: </label> 
    <input type="password" name="pass"><br>

    <button type="submit" class = "submit-button">Submit</button>
  </form>
</div>
<%- include("footer", {}) %>
