<%- include("header", {user: user}) %>
<h1 style="text-align: center; margin-top: 20px">MoCA Test</h1>

 <!-- <button id = "startButton" onclick="showexercise6()" class = "next-button" style = "height: 10%; width: 10%; font-size: 200%; position: absolute; top: 50%; left: 50%; transform: translateX(-50%)">Start</button>  -->
<button id = "startButton" onclick="showexercise1part1()" class = "next-button" style = "height: 10%; width: 10%; font-size: 200%; position: absolute; top: 50%; left: 50%; transform: translateX(-50%)">Start</button>


<div id = "exercise1-part1" class = "exercise-container" style="display: none;">
    <h2 style="text-align: center; margin-top: 20px">Exercise 1 - Part 1</h2>

    <div class = "notes" style = "top: 3%; left: 1%">
        <h3>Note:</h3>
        <p>
            Orange bubbles mean they are not selected.<br>
            Green bubbles mean they are selected.<br>
            Click on a bubble to select/unselect it.
        </p>
    </div>

    <div class="mocatest-container">
        <div class="bubble" data-number="1" style = "top: 30%; left: 40%">1<div class="bubblelabel">Begin</div></div>
        <div class="bubble" data-number="A" style = "top: 10%; left: 60%">A</div>
        <div class="bubble" data-number="2" style = "top: 22%; left: 70%">2</div>
        <div class="bubble" data-number="B" style = "top: 24%; left: 53%">B</div>
        <div class="bubble" data-number="3" style = "top: 45%; left: 70%">3</div>
        <div class="bubble" data-number="C" style = "top: 50%; left: 40%">C</div>
        <div class="bubble" data-number="4" style = "top: 40%; left: 50%">4</div>
        <div class="bubble" data-number="D" style = "top: 40%; left: 30%">D</div>
        <div class="bubble" data-number="5" style = "top: 15%; left: 25%">5</div>
        <div class="bubble" data-number="E" style = "top: 10%; left: 40%">E<div class="bubblelabel">End</div></div>
    </div>

    <button onclick="showexercise1part2()" class = "next-button">Next</button>

    <audio id = "ex1 part1 bubbles" >
        <source src="/moca audios/ex1 part1 bubbles.mp3" type="audio/mpeg" >
    </audio>
     
</div>

<div id = "exercise1-part2" class = "exercise-container" style="display: none;">
    <h2 style="text-align: center; margin-top: 20px">Exercise 1 - Part 2</h2>
    <div class="mocatest-container">
        <canvas id="canvas1part2" width="450%" height="350%" style="background-color:white; border:1px solid #000000; position: absolute;left: 50%; transform: translateX(-50%);"></canvas>
    </div>
    <button onclick="showexercise1part3()" class = "next-button">Next</button>

    <audio id = "ex1 part2 cube">
        <source src="/moca audios/ex1 part2 cube.mp3" type="audio/mpeg" >
    </audio>

</div>

<div id = "exercise1-part3" class = "exercise-container" style="display: none;">
    <h2 style="text-align: center; margin-top: 20px">Exercise 1 - Part 3</h2>
    <div class="mocatest-container">
        <canvas id="canvas1part3" width="450%" height="350%" style="background-color:white; border:1px solid #000000; position: absolute;left: 50%; transform: translateX(-50%);"></canvas>
    </div>
    
    <button onclick="showexercise2()" class = "next-button" >Next</button>
    <audio id = "ex1 part3 clock" style="position: absolute; top: 85%; left: 50%; transform: translateX(-50%); ">
        <source src="/moca audios/ex1 part3 clock.mp3" type="audio/mpeg" >
    </audio>

</div>

<div id="exercise2" class = "exercise-container" style ="display: none; position: relative; width: 100%; height: 500px;">
    <h2 style="text-align: center; margin-top: 20px;">Exercise 2</h2>

    <div class="animals-container">
        <div class= "animal-block">
            <img src="/moca images/lion.jpg">
            <input type="text" id="textLion" placeholder="Write here">
        </div>

        <div class= "animal-block">
            <img src="/moca images/rhino.jpg">
            <input type="text" id="textRhino" placeholder="Write here">
        </div>
        <div class= "animal-block">
            <img src="/moca images/camel.jpg">
            <input type="text" id="textCamel" placeholder="Write here">
        </div>

        <button onclick="showexercise3part1()" class = "next-button" style = "top: 100%"  >Next</button>


    </div>


    <audio id = "ex2 animals">
        <source src="/moca audios/ex2 animals.mp3" type="audio/mpeg">
    </audio>
</div>



<div id = "exercise3-part1" class = "exercise-container" style = "display: none;">
    <h2 style="text-align: center; margin-top: 20px;">Exercise 3 - Try 1</h2>

    <div class="mocatest-container">
        <button id="start-exercise3-part1" class = "next-button" style = "top: 60%; display: none;">Record</button>
        <button id="stop-exercise3-part1" class = "next-button" style = "top: 60%; display: none;" >Record</button>
        <h4 id = "recordingStatus31" style = "text-align: center; margin-top: 40px;"></h4>
    </div>

    <button id="next-exercise3-part1" onclick="showexercise3part2()" class = "next-button" style = "display: none;" >Next</button>
    
    <audio id="ex3 part1 memory">
        <source src="/moca audios/ex3 part1 memory.mp3" type="audio/mpeg" >
    </audio>

</div>

<div id = "exercise3-part2" class = "exercise-container" style = "display: none;">
    <h2 style="text-align: center; margin-top: 20px;">Exercise 3 - Try 2</h2>

    <div class="mocatest-container">
        <button id="start-exercise3-part2" class = "next-button" style = "top: 60%; display: none;">Record</button>
        <button id="stop-exercise3-part2" class = "next-button" style = "top: 60%; display: none">Record</button>
        <h4 id = "recordingStatus32" style = "text-align: center; margin-top: 40px;"></h4>
    </div>

    <button id="next-exercise3-part2" onclick="showexercise4part11()" class = "next-button" style="display: none;">Next</button>
    
    <audio id = "ex3 part2 memory" >
        <source src="/moca audios/ex3 part2 memory.mp3" type="audio/mpeg" >
    </audio>

</div>

<div id = "exercise4-part1-1" class = "exercise-container" style = "display: none;">
    <audio id = "ex3 part3 memory">
        <source src="/moca audios/ex3 part3 memory.mp3" type="audio/mpeg" >
    </audio>
    
    <h2 style="text-align: center; margin-top: 20px;">Exercise 4 - Part 1.1</h2>

    <div class = "mocatest-container">
        <input type="text" id="forwardNumbers" placeholder="Write here" 
           style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%); width: 200px; height: 30px; text-align: center; display: none">  
    </div>

    <button id = "next-exercise4-part11" onclick="showexercise4part12()" class = "next-button" style ="display: none;">Next</button>
    
    <audio id="ex4 part1 forward" style="position: absolute;">
        <source src="/moca audios/ex4 part1 forward.mp3" type="audio/mpeg" >
    </audio>
</div>

<div id = "exercise4-part1-2" class = "exercise-container" style = "display: none;">
    <h2 style="text-align: center; margin-top: 20px;">Exercise 4 - Part 1.2</h2>

    <div class="mocatest-container">
        <input type="text" id="backwardNumbers" placeholder="Write here" 
                style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%); width: 200px; height: 30px; text-align: center; display: none;">
    </div>
    
    <button id = "next-exercise4-part12" onclick="showexercise4part2()" class = "next-button" style="display: none">Next</button>
    
    <audio id="ex4 part1 backward">
        <source src="/moca audios/ex4 part1 backward.mp3" type="audio/mpeg" >
    </audio>
</div>

<div id = "exercise4-part2" class = "exercise-container" style = "display: none;">
    <h2 style="text-align: center; margin-top: 20px;">Exercise 4 - Part 2</h2>
    
    <div class="mocatest-container">
        <div id= "bubbleA" class="bubble" data-number="A" style="top: 200px; left: 50%; transform: translateX(-50%)">A</div>
        <div class="label" style="font-family: Verdana; text-align: center; position: absolute; top: 250px; left: 50%; transform: translateX(-50%)">Press here whenever <br> you hear letter A</div>
    </div>

    <button id = "next-exercise4-part12" onclick="showexercise4part3()" class = "next-button">Next</button>
    
    <audio id="ex4 part2 clickedAs" id = "audio_test_part2">
        <source src="/moca audios/ex4 part2 clickedAs.mp3" type="audio/mpeg" >
    </audio>
</div>

<div id = "exercise4-part3" class = "exercise-container" style = "display: none;">
    <h2 style="text-align: center; margin-top: 20px;">Exercise 4 - Part 3</h2>

    <div class="mocatest-container">
        <input type="text" id="substraction" placeholder="Next substraction" 
    style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%); width: 200px; height: 30px; text-align: center;">
    </div>
    
    <button id = "nextsubstraction" onclick="saveSubstraction()" class = "next-button">Next</button>

    <audio id="ex4 part3 substraction" id = "audio_test_part2">
        <source src="/moca audios/ex4 part3 substraction.mp3" type="audio/mpeg" >
    </audio>
</div>

<div id = "exercise5-part11" class = "exercise-container" style = "display: none;">
    <h2 style="text-align: center; margin-top: 20px;">Exercise 5 - Part 1.1</h2>

    <div class = "mocatest-container">
        <button id="start-exercise5-part11" class = "next-button" style = "top: 60%; display: none;">Record</button>
        <button id="stop-exercise5-part11" class = "next-button" style = "top: 60%; display: none">Record</button>
        <h4 id = "recordingStatus511" style = "text-align: center; margin-top: 40px;"></h4>
    </div>
    
    <button id="next-exercise5-part11" onclick="showexercise5part12()" class = "next-button" style="display: none;">Next</button>
    
    <audio id = "ex5 part1 sentence1">
        <source src="/moca audios/ex5 part1 sentence1.mp3" type="audio/mpeg" >
    </audio>

</div>

<div id = "exercise5-part12" class = "exercise-container" style = "display: none;">
    <h2 style="text-align: center; margin-top: 20px;">Exercise 5 - Part 1.2</h2>

    <div class = "mocatest-container">
        <button id="start-exercise5-part12" class = "next-button" style = "top: 50%; display: none;">Record</button>
        <button id="stop-exercise5-part12" class = "next-button" style = "top: 50%; display: none">Record</button>
        <h4 id = "recordingStatus512" style = "text-align: center; margin-top: 40px;"></h4>
    </div>
    
    <button id="next-exercise5-part12" onclick="showexercise5part2()" class = "next-button" style="display: none;">Next</button>
    
    <audio id = "ex5 part1 sentence2" style="position: absolute; top: 85%; left: 50%; transform: translateX(-50%); ">
        <source src="/moca audios/ex5 part1 sentence2.mp3" type="audio/mpeg" >
    </audio>

</div>

<div id = "exercise5-part2" class = "exercise-container" style = "display: none;">
    <h2 style="text-align: center; margin-top: 20px;">Exercise 5 - Part 2</h2>

    <div class = "mocatest-container">
        <h3 style="text-align: center; position: absolute; top: 0%; left: 50%; transform: translateX(-50%);font-size: 150px;">F</h3>
        <h4 id = "recordingStatus52" style = "text-align: center; margin-top: 40px;"></h4>
        <p id="timer" style="text-align: center; position: absolute; top: 30%; left: 50%; transform: translateX(-50%) ">01:00</p>
        <button id="start-exercise5-part2" class = "next-button" style = "top: 40%; display: block;">Start</button>
    </div>
    
    <button id="next-exercise5-part2" onclick="showexercise6()" class = "next-button" style="display: none;">Next</button>

    <audio id = "ex5 part2 fwords" >
        <source src="/moca audios/ex5 part2 fwords.mp3" type="audio/mpeg" >
    </audio>

</div>

<div id = "exercise6" class = "exercise-container" style = "display: none;">
    <h2 style="text-align: center; margin-top: 20px;">Exercise 6</h2>
    
    <div class="abstraction-container">
        <div class="row">   
            <div class = "text-box" style = "width: 200px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Orange - Banana</div>
            <div class = "text-box" style = "width: 200px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Fruits</div>
        </div>

        <div class = "row">
            <div class = "text-box" style = "width: 200px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Train - Bicycle</div>
            <input type="text" id="textTransport" placeholder="Write here" style="width: 200px; height: 30px; text-align: center;">
        </div>

        <div class="row">
            <div class = "text-box" style = "width: 200px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Ruler - Watch</div>
            <input type="text" id="textMeasuring" placeholder="Write here" style="width: 200px; height: 30px; text-align: center;">
        </div>
    </div>  

    
    <button id="next-exercise6" onclick="showexercise7part1()" class = "next-button" style="display: block; top: 150%">Next</button>

    <audio id = "ex6 abstraction" >
        <source src="/moca audios/ex6 abstraction.mp3" type="audio/mpeg" >
    </audio>

</div>

<div id = "exercise7-part1" class = "exercise-container" style = "display: none;">
    <h2 style="text-align: center; margin-top: 20px;">Exercise 7</h2>

    <div class="abstraction-container">
        <input type="text" id="ex7part1word1" placeholder="Write here" style = "width: 200px; height: 30px; text-align: center;">
        <input type="text" id="ex7part1word2" placeholder="Write here" style = "width: 200px; height: 30px; text-align: center;">
        <input type="text" id="ex7part1word3" placeholder="Write here" style = "width: 200px; height: 30px; text-align: center;">
        <input type="text" id="ex7part1word4" placeholder="Write here" style = "width: 200px; height: 30px; text-align: center;">
        <input type="text" id="ex7part1word5" placeholder="Write here" style = "width: 200px; height: 30px; text-align: center;">
        
    </div>
    
    <button id="next-exercise7-part1" onclick="showexercise7part2()" class = "next-button" style="display: block; top: 120%">Next</button>

    <audio id = "ex7 part1 delayedrecall" >
        <source src="/moca audios/ex7 part1 delayedrecall.mp3" type="audio/mpeg" >
    </audio>
</div>


<div id = "exercise7-part2" class = "exercise-container" style = "display: none;">
    <h2 style="text-align: center; margin-top: 20px;">Exercise 7</h2>

    <div class = "abstraction-container">
        <div class = "row">
            <div class = "text-box" style = "width: 200px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Body part</div>
            <input type="text" id="ex7part2word1" placeholder="Write here" style="width: 200px; height: 30px; text-align: center;">
        </div>

        <div class = "row">
            <div class = "text-box" style = "width: 200px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Fabric</div>
            <input type="text" id="ex7part2word2" placeholder="Write here" style= "width: 200px; height: 30px; text-align: center;">
        </div>

        <div class = "row">
            <div class = "text-box" style = "width: 200px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Building</div>
            <input type="text" id="ex7part2word3" placeholder="Write here" style= "width: 200px; height: 30px; text-align: center;">
        </div>

        <div class = "row">
            <div class = "text-box" style = "width: 200px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Flower</div>
            <input type="text" id="ex7part2word4" placeholder="Write here" style= "width: 200px; height: 30px; text-align: center;">
        </div>

        <div class = "row">
            <div class = "text-box" style = "width: 200px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Color</div>
            <input type="text" id="ex7part2word5" placeholder="Write here" style= "width: 200px; height: 30px; text-align: center;">
        </div>
        
    </div>
    
    <button id="next-exercise7-part2" onclick="showexercise7part3()" class = "next-button" style="display: block; top: 120%">Next</button>

    <audio id = "ex7 part2 delayedrecall" >
        <source src="/moca audios/ex7 part2 delayedrecall.mp3" type="audio/mpeg" >
    </audio>

</div>


<div id = "exercise7-part3" class = "exercise-container" style = "display: none;">
    <h2 style="text-align: center; margin-top: 20px;">Exercise 7</h2>

    <div class = "abstraction-container">
        <div class = "row">
            <div class = "text-box" style = "width: 300px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Nose, face, hand, shoulder, leg</div>
            <input type="text" id="ex7part3word1" placeholder="Write here" style="width: 200px; height: 30px; text-align: center;">
        </div>

        <div class = "row">
            <div class = "text-box" style = "width: 300px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Denim, velvet, cotton, nylon, silk</div>
            <input type="text" id="ex7part3word2" placeholder="Write here" style= "width: 200px; height: 30px; text-align: center;">
        </div>

        <div class = "row">
            <div class = "text-box" style = "width: 300px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Church, school, hospital, library, store</div>
            <input type="text" id="ex7part3word3" placeholder="Write here" style= "width: 200px; height: 30px; text-align: center;">
        </div>

        <div class = "row">
            <div class = "text-box" style = "width: 300px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Rose, daisy, tulip, lily, daffodil</div>
            <input type="text" id="ex7part3word4" placeholder="Write here" style= "width: 200px; height: 30px; text-align: center;">
        </div>

        <div class = "row">
            <div class = "text-box" style = "width: 300px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Red, blue, green, yellow, purple</div>
            <input type="text" id="ex7part3word5" placeholder="Write here" style= "width: 200px; height: 30px; text-align: center;">
        </div>
        
    </div>
   
    <button id="next-exercise7-part3" onclick="showexercise8part1()" class = "next-button" style="display: block; top: 120%">Next</button>

    <audio id = "ex7 part3 delayedrecall" >
        <source src="/moca audios/ex7 part3 delayedrecall.mp3" type="audio/mpeg" >
    </audio>

</div>

<div id = "exercise8-part1" class = "exercise-container" style = "display: none;">
    <h2 style="text-align: center; margin-top: 20px;">Exercise 8</h2>
    <h3 style="text-align: center; margin-top: 40px;">What day is it today?</h2>
    
    <div class = "abstraction-container">
        <div class = "row">
            <div class = "text-box" style = "width: 200px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Complete date</div>
            <input type="text" id="ex8part1date" placeholder="Write here" style="width: 200px; height: 30px; text-align: center;">        
        </div>

        <div class = "row">
            <div class = "text-box" style = "width: 200px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Year</div>
            <input type="text" id="ex8part1year" placeholder="Write here" style="width: 200px; height: 30px; text-align: center;">        
        </div>

        <div class = "row">
            <div class = "text-box" style = "width: 200px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Month</div>
            <input type="text" id="ex8part1month" placeholder="Write here" style="width: 200px; height: 30px; text-align: center;">        
        </div>

        <div class = "row">
            <div class = "text-box" style = "width: 200px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Day of the week</div>
            <input type="text" id="ex8part1day" placeholder="Write here" style="width: 200px; height: 30px; text-align: center;">        
        </div>

    </div>
    
    <button id="next-exercise8-part1" onclick="showexercise8part2()" class = "next-button" style="display: block; top: 120%">Next</button>

    <audio id = "ex8 part1 date">
        <source src="/moca audios/ex8 part1 date.mp3" type="audio/mpeg" >
    </audio>
</div>


<div id = "exercise8-part2" class = "exercise-container" style = "display: none;">
    <h2 style="text-align: center; margin-top: 20px;">Exercise 8</h2>
    <h3 style="text-align: center; margin-top: 40px;">Where are you?</h2>
    <div class = "abstraction-container">
        <div class = "row">
            <div class = "text-box" style = "width: 200px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">Place</div>
            <input type="text" id="ex8part2place" placeholder="Write here" style="width: 200px; height: 30px; text-align: center;">        
        </div>

        <div class = "row">
            <div class = "text-box" style = "width: 200px; height: 30px; text-align: center; border: 1px solid gray;background-color:white; border-radius: 5px;">City</div>
            <input type="text" id="ex8part2city" placeholder="Write here" style="width: 200px; height: 30px; text-align: center;">        
        </div>
    </div>
        

   
    <button id="next-exercise8-part2" onclick="finishTest()" class = "next-button" style="display: block; top: 120%">Next</button>

    <audio id = "ex8 part2 place">
        <source src="/moca audios/ex8 part2 place.mp3" type="audio/mpeg" >
    </audio>
</div>

<div id = "finishTest" class = "exercise-container" style = "display: none;">
    <h2 style="text-align: center; margin-top: 20px;">Thank you for completing your test.</h2>
    <h3 style="text-align: center; margin-top: 40px;">
        Your doctor will carefully review your results, and they will be shared with you afterwards.<br>
        If you have any questions in the meantime, please don't hesitate to reach out.
    </h3>
      

    
</div>




  



<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script> 
<script src="/scripts/mocatest.js"></script>





<%- include("footer", {}) %>
