<%- include("header", {}) %>
<h1 style = "text-align: center; margin-top: 20px">Restricted</h1>
<p style = "text-align: center; margin-top: 20px">Only accessible if logged.</p>
<%- include("footer", {}) %>
